# Virtual Environment
payhackenv/

# Python cache files
__pycache__/
*.pyc


# Ignore all CSVs inside the data folder
data/*.csv

# Ignore other heavy files in data/
data/*.zip
data/*.json

# Ignore raw data files
*.csv
