
dashboard/.DS_Store
backend/postgres_data
backend/.env.example
backend/__pycache__
backend/venv
backend/.DS_Store

react-frontend/.DS_Store
react-frontend/node_modules
react-frontend/package-lock.json

react-frontend2/.DS_Store
react-frontend2/node_modules
react-frontend2/package-lock.json

dashboard2/.DS_Store
dashboard2/node_modules
dashboard2/package-lock.json

.DS_Store

Jack-EDA/venv